holidays==0.58
prophet==1.1.6
sktime
pmdarima
pandas
matplotlib
seaborn
plotly
scikit-learn
streamlit
yfinance
lightgbm
statsmodels
geopandas
folium
xmltodict
streamlit-option-menu
millify
pingouin
jupyterlab

